.r-20-k{
    top: 45.5rem;
    left: 0rem;
    --scale: 1.2;
}
.s07-k{
    --scale: 0.8;
    top: 16.5rem;
    left: 67rem;
}
.r-45-k{
    left: 167.5rem;
    top: 31.5rem;
    --scale: 0.78;
    opacity: 0.5;
}
.r-222-k{
    left: 117rem;
    top: 80.5rem;
}
.r-60-k{
    top: 84.5rem;
    left: 132rem;
}
.figure-k{
    width: 100%;
    height: 140%;
    background: url("../images/Фигура_550.svg") no-repeat;
    z-index: 0;
    left: 78rem;
    top: -13rem;
}
.s0777-k{
    top: 155.5rem;
    left: 163.7rem;
}
.r-452-k{
    left: -1rem;
    top: 145rem;
}
.r-202-k{
    left: 6rem;
    top: 150rem;
    --rotate: 60deg;
}
.s0773-k{
    top: 233rem;
    left: 136rem;
}
.r-2223-k{
    top: 229rem;
    left: 143rem;
}